name: Sync to Hugging Face hub
on:
  push:
    branches: [master]  # <--- 1. Listen to your GitHub 'master' branch

  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        # 2. The Refspec below is key: "HEAD:main"
        # It means "Take current commit (from master) and push to remote 'main'"
        run: git push --force https://MHuzaifaYounus:$HF_TOKEN@huggingface.co/spaces/Huzaifa1452007/AI_Report_Generator HEAD:main